flask==3.0.3 #Framework para criar o web service (API REST) que comunica com a base de dados
nicegui==2.7.0 #Biblioteca para criar a interface gráfica do call center
httpx==0.27.2 #Cliente HTTP moderno para o GUI falar com o web service